.projectsTemplate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);

  &__title {
    z-index: 2;
  }
}
