@import '../../../foundations/mixins.scss';

.soonTemplate {
  display: flex;
  overflow-x: hidden !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--white);
  background-color: var(--black);
}
