@import "../../../foundations/mixins.scss";

.softSkillsCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 16px;
  width: 333px;
  height: 432px;
  text-align: center;
  box-shadow: 0 4px 4px 0 #00000040;
  color: #000;
  margin: 0 32px;

  @include respond-to('tablet') {
    width: 268px;
    height: 348px;
  }

  img {
    @include respond-to('tablet') {
      width: 100px;
    }
  }

  h1 {
    font-family: var(--heading);
    font-size: var(--font-size-3);
    font-weight: 400;
    margin: 32px 50px;

    @include respond-to('tablet') {
      font-size: var(--font-size-4);
      margin: 24px 25px;
    }
  }

  h3 {
    font-family: var(--body);
    font-weight: 300;
    font-size: var(--font-size-5);
    margin: 0 54px;

    @include respond-to('tablet') {
      margin: 0 20px;
      font-size: var(--font-size-5);
    }
  }
}
