.themeSwitcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--effect);
  color: #fff;
  padding: 6px 16px;
  border-radius: 20px;
  box-shadow:
    0 3px 6px rgba(#000, 0.16),
    0 3px 6px rgba(#000, 0.23);
}
