@import "../../../foundations/mixins.scss";

.hamburguerMenu {
  position: fixed;
  top: 16px;
  right: 16px;
  padding: 2px;
  background-color: var(--bg-variation);
  border-radius: 30px;
  z-index: 9;
  display: none;
  visibility: visible;
  color: #fff;

  @include respond-to("mobile") {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
  }
}

.mobileMenu_open {
  width: 100vw;
  opacity: 1;
  display: flex;
  visibility: visible;
  position: fixed;
  height: 100vh;
  z-index: 1;
  background-color: var(--bg-variation);
  transition: all 0.3s ease-in-out;

  &_languageSwitcher {
    position: absolute;
    top: 24px;
    left: 20px;
  }

  &_themeSwitcher {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 24px;
    width: 100%;

    a {
      color: #fff;
      font-family: var(--heading);
      font-size: var(--font-size-3);
      font-weight: 500;
      text-decoration: none;
    }

    hr {
      margin: 24px 0;
    }

    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        font-size: var(--font-size-4);
        margin-top: 32px;
        padding: 9px 60px;
        background-color: var(--effect);
        color: var(--white);
        border-radius: 5px;
      }
    }

    &__disclaimer {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      img {
        width: 4.5rem;
      }

      h6 {
        color: #fff;
        font-family: var(--heading);
        font-size: var(--font-size-5);
        font-weight: 500;
        margin: 0;
        margin-top: 12px;
      }
    }
  }
}

.mobileMenu_closed {
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  display: flex;
  position: fixed;
  height: 100vh;
  background-color: var(--bg-variation);
  transition: all 0.3s ease-in-out;

  &_languageSwitcher {
    position: absolute;
    top: 24px;
    left: 20px;
  }

  &_themeSwitcher {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 24px;
    width: 100%;

    a {
      color: var(--text);
      font-family: var(--heading);
      font-size: var(--font-size-3);
      font-weight: 500;
      text-decoration: none;
    }

    hr {
      margin: 24px 0;
    }

    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        font-size: var(--font-size-4);
        margin-top: 32px;
        padding: 9px 60px;
        background-color: var(--effect);
        color: var(--white);
        border-radius: 5px;
      }
    }

    &__disclaimer {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;

      img {
        width: 4.5rem;
      }

      h6 {
        color: var(--text);
        font-family: var(--heading);
        font-size: var(--font-size-5);
        font-weight: 500;
        margin: 0;
        margin-top: 12px;
      }
    }
  }
}
