@import '../../../../foundations/mixins.scss';

.rocketContainer {
  width: 45em;

  @include respond-to('desktop-md') {
    width: 40em;
  }

  @include respond-to('tablet') {
    width: 30em;
  }
}
