@import '../../../../foundations/mixins.scss';

.starsContainer {
  width: 70em;
  opacity: 0.7;

  @include respond-to('desktop-md') {
    width: 70em;
  }

  @include respond-to('tablet') {
    width: 30em;
  }
}
