@import '../../../foundations/mixins.scss';

.errorTemplate {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  &-img {
    width: 50em;
    z-index: 9;

    @include respond-to('mobile') {
      width: 20em;
    }
  }

  &-moon {
    position: absolute;
    top: 3em;
    left: 3em;
    width: 12em;

    @include respond-to('tablet') {
      width: 6em;
      left: 1em;
      top: 1em;
    }
  }

  &-planet2 {
    position: absolute;
    bottom: 0;
    right: -8em;

    @include respond-to('tablet') {
      width: 10em;
      bottom: 1em;
      right: -2em;
    }
  }

  &-title {
    font-weight: 500;
    font-family: var(--heading);
    font-size: var(--font-size-3);
    color: #e6e9ed;
    margin-bottom: 1em;

    @include respond-to('mobile') {
      font-size: var(--font-size-2);
    }
  }

  &-link {
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 3em;
    color: white;
    background-color: var(--effect);
    font-weight: 500;
    border: 2px solid var(--effect);
    font-size: calc(var(--font-size-2) - 5px);
    transition: all 0.3s;

    @include respond-to('mobile') {
      font-size: var(--font-size-1);
    }
  }

  &__starsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: absolute;
    width: 100vw;

    @include respond-to('mobile') {
      height: 50vh;
      top: 0;
    }
  }
}
